<!doctype html>
<html>
  <head>
    <title>Upload File</title>
  </head>
  <body>
    <h2>Upload Image or PDF</h2>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <input type="file" name="file" required />
      <br /><br />
      <p>Supported formats: JPG, PNG, PDF</p>
      <button type="submit">Upload</button>
      <label>
        <input type="checkbox" name="summarize" />
        Generate AI Summary
      </label>
      <p><strong>Export Format:</strong></p>

      <label><input type="radio" name="export" value="txt" /> TXT</label><br />
      <label><input type="radio" name="export" value="json" /> JSON</label
      ><br />
      <label><input type="radio" name="export" value="pdf" /> PDF</label
      ><br /><br />

      <br /><br />
    </form>
  </body>
</html>
